<!--  наследуемся от шаблона default.html, который мы создавали ещё во времена flatpages -->
{% extends 'flatpages/default.html' %}

{% block title %} Объявления {% endblock title %}

{% block content %}
<table>
    <thead>
        <th>
            Заголовок
        </th>
        <th>
            Текст
        </th>
        <th>
            Категория
        </th>
    </thead>
    <tr>
        <td>
            {{ announcement.title|title }}
        </td>
         <td>
            {{ announcement.text }}
        </td>
        <td>
            {{ announcement.category.name }}
        </td>

        <td>
            <img src="{{ announcement.media.url }}" />
        </td>
    </tr>
</table>
{% endblock content %}